
body {
    background-color: slategray;
}

a{
    color:inherit;
}
.logo {
    width: 100px;
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    max-width: 600px;
}

img{
    max-width: 100%;
}
.carousel img{
    height: 42rem;
}

footer div.logo{
    text-align: right;
}